# A Movie Recommender System Using >>Apache Spark 2.4
### gyleodhis@outlook.com
### [@gyleodhis](https://www.twitter.com/gyleodhis)
### ![@gyleodhis](./static/gyle.jpg)
#### Licence:
You can use this code for anything you may wish only leave this page:
#### AS IS; HOW IS, WHERE IS

In [1]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Recommender System').getOrCreate()

### Reading the Dataset

In [2]:
df = spark.read.csv('./static/movie_ratings_df.csv', inferSchema=True, header=True)
df.show(10, True) # Pulls the fist ten rows of the dataset

+------+------------+------+
|userId|       title|rating|
+------+------------+------+
|   196|Kolya (1996)|     3|
|    63|Kolya (1996)|     3|
|   226|Kolya (1996)|     5|
|   154|Kolya (1996)|     3|
|   306|Kolya (1996)|     5|
|   296|Kolya (1996)|     4|
|    34|Kolya (1996)|     5|
|   271|Kolya (1996)|     4|
|   201|Kolya (1996)|     4|
|   209|Kolya (1996)|     4|
+------+------------+------+
only showing top 10 rows

### Data size in terms of rows and records

In [3]:
print((df.count(), len(df.columns)))

(100000, 3)

Our Dataset contains 100,000 records with only three columns

Data Schema

In [4]:
df.printSchema()

root
 |-- userId: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- rating: integer (nullable = true)

#### Two of the columns are Numerical while title column is categorical

#### Top users by number of moviers rated

In [5]:
df.groupBy('userId').count().orderBy('count', ascending=False).show(10, False)

+------+-----+
|userId|count|
+------+-----+
|405   |737  |
|655   |685  |
|13    |636  |
|450   |540  |
|276   |518  |
|416   |493  |
|537   |490  |
|303   |484  |
|234   |480  |
|393   |448  |
+------+-----+
only showing top 10 rows

#### Bottom users by number of moviers rated

In [6]:
df.groupBy('userId').count().orderBy('count', ascending=True).show(10, False)

+------+-----+
|userId|count|
+------+-----+
|732   |20   |
|631   |20   |
|636   |20   |
|926   |20   |
|93    |20   |
|572   |20   |
|596   |20   |
|34    |20   |
|300   |20   |
|685   |20   |
+------+-----+
only showing top 10 rows

## Feature Engineering

In [7]:
from pyspark.sql.functions import *
from pyspark.ml.feature import StringIndexer, IndexToString

#### So now we create the stringindexer object by mentioning the input column and output column.

In [8]:
stringIndexer = StringIndexer(inputCol='title',outputCol='New_Title')
model = stringIndexer.fit(df)
indexed = model.transform(df)
indexed.show(10, False)

+------+------------+------+---------+
|userId|title       |rating|New_Title|
+------+------------+------+---------+
|196   |Kolya (1996)|3     |287.0    |
|63    |Kolya (1996)|3     |287.0    |
|226   |Kolya (1996)|5     |287.0    |
|154   |Kolya (1996)|3     |287.0    |
|306   |Kolya (1996)|5     |287.0    |
|296   |Kolya (1996)|4     |287.0    |
|34    |Kolya (1996)|5     |287.0    |
|271   |Kolya (1996)|4     |287.0    |
|201   |Kolya (1996)|4     |287.0    |
|209   |Kolya (1996)|4     |287.0    |
+------+------------+------+---------+
only showing top 10 rows

In [9]:
print (df.groupBy('title').count().orderBy('count',ascending=False).show(10,False),
       indexed.groupBy('New_Title').count().orderBy('count',ascending=False).show(10,False))

+-----------------------------+-----+
|title                        |count|
+-----------------------------+-----+
|Star Wars (1977)             |583  |
|Contact (1997)               |509  |
|Fargo (1996)                 |508  |
|Return of the Jedi (1983)    |507  |
|Liar Liar (1997)             |485  |
|English Patient, The (1996)  |481  |
|Scream (1996)                |478  |
|Toy Story (1995)             |452  |
|Air Force One (1997)         |431  |
|Independence Day (ID4) (1996)|429  |
+-----------------------------+-----+
only showing top 10 rows

+---------+-----+
|New_Title|count|
+---------+-----+
|0.0      |583  |
|1.0      |509  |
|2.0      |508  |
|3.0      |507  |
|4.0      |485  |
|5.0      |481  |
|6.0      |478  |
|7.0      |452  |
|8.0      |431  |
|9.0      |429  |
+---------+-----+
only showing top 10 rows

None None

## Pliting The Data Set
We split it into a 80 to 20 ratio to train the model and test its accuracy

In [10]:
train,test=indexed.randomSplit([0.8,0.2])
print("Training set", train.count())
print("Testing set", test.count())

Training set 80095
Testing set 19905

##  Building and Training the Model

In [11]:
from pyspark.ml.recommendation import ALS
rec=ALS(maxIter=10,regParam=0.01,userCol='userId',itemCol='New_Title',ratingCol='rating',nonnegative=True)
rec_model = rec.fit(train)

### Performance evaluation on our test data
Here we will chack the performance of our model on unseen data.

In [12]:
predict_ratings = rec_model.transform(test)
predict_ratings.printSchema()

root
 |-- userId: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- rating: integer (nullable = true)
 |-- New_Title: double (nullable = false)
 |-- prediction: float (nullable = false)

In [13]:
predict_ratings.show(10)

+------+--------------------+------+---------+----------+
|userId|               title|rating|New_Title|prediction|
+------+--------------------+------+---------+----------+
|    85|Much Ado About No...|     4|    148.0| 4.1525855|
|   883|Much Ado About No...|     3|    148.0|   4.04274|
|   321|Much Ado About No...|     4|    148.0| 3.7027595|
|   642|Much Ado About No...|     5|    148.0| 4.3708024|
|   497|Much Ado About No...|     2|    148.0| 3.5686097|
|   253|Much Ado About No...|     4|    148.0|  4.869289|
|   417|Much Ado About No...|     5|    148.0| 4.0947976|
|   727|Much Ado About No...|     5|    148.0|  3.574555|
|   416|Much Ado About No...|     5|    148.0|  4.762173|
|   748|Much Ado About No...|     3|    148.0| 3.9268343|
+------+--------------------+------+---------+----------+
only showing top 10 rows

In [14]:
from pyspark.ml.evaluation import RegressionEvaluator
evaluator = RegressionEvaluator(metricName = 'rmse', predictionCol = 'prediction', labelCol = 'rating')
rmse = evaluator.evaluate(predict_ratings)
print(rmse)

nan

##### The rmse is non we can equate this to zero meaning there is no error.

### Recommend Top Movies That Active User Might Like
The first step is to create a list of unique movies in the dataframe.

In [15]:
unique_movies=indexed.select('New_Title').distinct()
unique_movies.count() ## Total numbe rof individual movies in our new dataframe

1664

In [16]:
a = unique_movies.alias('a')

#### We can select any user within the dataset for which we need to recommend other movies. In our case, we go ahead with userId = 96.

#### We will filter the movies that this active user has already rated or seen.

In [17]:
user_id=96
watched_movies=indexed.filter(indexed['userId'] == user_id).select('New_Title').distinct()
watched_movies.count() # Number of movies the user has watched

56

In [18]:
b=watched_movies.alias('b')

#### So, there are total of 56 unique movies out of 1,664 movies that this active user has already rated. So, we would want to recommend movies from the remaining 1608 movies.

In [19]:
total_movies = a.join(b, a.New_Title == b.New_Title,how='left')
total_movies.show()

+---------+---------+
|New_Title|New_Title|
+---------+---------+
|    305.0|     null|
|    596.0|     null|
|    299.0|     null|
|    769.0|     null|
|    692.0|     null|
|    934.0|     null|
|   1051.0|     null|
|    496.0|     null|
|    558.0|     null|
|    170.0|     null|
|    184.0|     null|
|    576.0|     null|
|    147.0|     null|
|    810.0|     null|
|    720.0|     null|
|    782.0|     null|
|   1369.0|     null|
|   1587.0|     null|
|    160.0|     null|
|    608.0|     null|
+---------+---------+
only showing top 20 rows

In [20]:
remaining_movies=total_movies.where(col("b.New_Title").isNull()).select(a.New_Title).distinct()
remaining_movies.count()

1608

In [21]:
remaining_movies=remaining_movies.withColumn("userId",lit(int(user_id)))
remaining_movies.show(10, False)

+---------+------+
|New_Title|userId|
+---------+------+
|305.0    |96    |
|596.0    |96    |
|299.0    |96    |
|769.0    |96    |
|692.0    |96    |
|934.0    |96    |
|1051.0   |96    |
|496.0    |96    |
|558.0    |96    |
|170.0    |96    |
+---------+------+
only showing top 10 rows

### Finally, we can now make the predictions on this remaining movie’s dataset for the active user using the recommender model that we built earlier. We filter only a few top recommendations that have the highest predicted ratings.

In [22]:
recommendations = rec_model.transform(remaining_movies).orderBy('prediction', ascending = False)
recommendations.show(100, False)

+---------+------+----------+
|New_Title|userId|prediction|
+---------+------+----------+
|1481.0   |96    |NaN       |
|1553.0   |96    |NaN       |
|1576.0   |96    |NaN       |
|1638.0   |96    |NaN       |
|1518.0   |96    |NaN       |
|1651.0   |96    |NaN       |
|1655.0   |96    |NaN       |
|1639.0   |96    |NaN       |
|1615.0   |96    |NaN       |
|1542.0   |96    |NaN       |
|1536.0   |96    |NaN       |
|1544.0   |96    |NaN       |
|1659.0   |96    |NaN       |
|1635.0   |96    |NaN       |
|1575.0   |96    |NaN       |
|1397.0   |96    |NaN       |
|1464.0   |96    |NaN       |
|1571.0   |96    |NaN       |
|1652.0   |96    |NaN       |
|1593.0   |96    |NaN       |
|1602.0   |96    |NaN       |
|1562.0   |96    |NaN       |
|1660.0   |96    |NaN       |
|1547.0   |96    |NaN       |
|1608.0   |96    |NaN       |
|1487.0   |96    |NaN       |
|1628.0   |96    |NaN       |
|1616.0   |96    |NaN       |
|1637.0   |96    |NaN       |
|1579.0   |96    |NaN       |
|1560.0   |96    |NaN       |
|1613.0   |96    |NaN       |
|1347.0   |96    |9.859842  |
|1411.0   |96    |8.478969  |
|1277.0   |96    |8.346124  |
|1271.0   |96    |7.3861904 |
|884.0    |96    |6.8827066 |
|1410.0   |96    |6.837696  |
|813.0    |96    |6.8214083 |
|459.0    |96    |6.6691585 |
|1121.0   |96    |6.6156397 |
|770.0    |96    |6.441062  |
|1107.0   |96    |6.387128  |
|346.0    |96    |6.309991  |
|242.0    |96    |6.259225  |
|954.0    |96    |6.183684  |
|877.0    |96    |6.144337  |
|882.0    |96    |6.125803  |
|1390.0   |96    |6.1087503 |
|1230.0   |96    |6.105707  |
|1005.0   |96    |5.9840035 |
|840.0    |96    |5.938725  |
|963.0    |96    |5.938284  |
|1288.0   |96    |5.9160724 |
|728.0    |96    |5.914935  |
|558.0    |96    |5.893246  |
|1136.0   |96    |5.8295503 |
|1212.0   |96    |5.815298  |
|915.0    |96    |5.809105  |
|380.0    |96    |5.800167  |
|1269.0   |96    |5.7899456 |
|981.0    |96    |5.785143  |
|463.0    |96    |5.7750144 |
|1262.0   |96    |5.7551494 |
|1083.0   |96    |5.7443814 |
|1198.0   |96    |5.7404985 |
|922.0    |96    |5.7233524 |
|874.0    |96    |5.7148056 |
|386.0    |96    |5.711822  |
|1389.0   |96    |5.7061596 |
|918.0    |96    |5.7000046 |
|1330.0   |96    |5.6696987 |
|514.0    |96    |5.6398826 |
|819.0    |96    |5.6133976 |
|1057.0   |96    |5.611922  |
|1289.0   |96    |5.599759  |
|1207.0   |96    |5.5941877 |
|959.0    |96    |5.592166  |
|183.0    |96    |5.5788355 |
|1432.0   |96    |5.5742345 |
|1084.0   |96    |5.5713224 |
|676.0    |96    |5.5585995 |
|848.0    |96    |5.552638  |
|433.0    |96    |5.5435233 |
|509.0    |96    |5.529969  |
|1012.0   |96    |5.520061  |
|1241.0   |96    |5.4807315 |
|649.0    |96    |5.4758716 |
|536.0    |96    |5.4730597 |
|488.0    |96    |5.471597  |
|454.0    |96    |5.4703207 |
|947.0    |96    |5.467999  |
|1275.0   |96    |5.4617534 |
|1342.0   |96    |5.4446855 |
|705.0    |96    |5.4257197 |
|938.0    |96    |5.4135275 |
|988.0    |96    |5.4017453 |
|1155.0   |96    |5.3941116 |
|1004.0   |96    |5.3882484 |
|1034.0   |96    |5.37455   |
+---------+------+----------+
only showing top 100 rows

### Let us add the movie title to the recommendations

In [23]:
movie_title = IndexToString(inputCol="New_Title",outputCol="title",labels=model.labels)
final_recommendations=movie_title.transform(recommendations)
final_recommendations.show(100,False)

+---------+------+----------+-----------------------------------------------------------------+
|New_Title|userId|prediction|title                                                            |
+---------+------+----------+-----------------------------------------------------------------+
|1637.0   |96    |NaN       |T-Men (1947)                                                     |
|1553.0   |96    |NaN       |Death in the Garden (Mort en ce jardin, La) (1956)               |
|1655.0   |96    |NaN       |Wend Kuuni (God's Gift) (1982)                                   |
|1576.0   |96    |NaN       |Hostile Intentions (1994)                                        |
|1562.0   |96    |NaN       |Fear, The (1995)                                                 |
|1542.0   |96    |NaN       |Brothers in Trouble (1995)                                       |
|1464.0   |96    |NaN       |American Strays (1996)                                           |
|1544.0   |96    |NaN       |Careful (1992)                                                   |
|1602.0   |96    |NaN       |Mirage (1995)                                                    |
|1659.0   |96    |NaN       |Witness (1985)                                                   |
|1579.0   |96    |NaN       |I Don't Want to Talk About It (De eso no se habla) (1993)        |
|1616.0   |96    |NaN       |Pharaoh's Army (1995)                                            |
|1652.0   |96    |NaN       |Walk in the Sun, A (1945)                                        |
|1536.0   |96    |NaN       |Baton Rouge (1988)                                               |
|1660.0   |96    |NaN       |Woman in Question, The (1950)                                    |
|1481.0   |96    |NaN       |Destiny Turns on the Radio (1995)                                |
|1638.0   |96    |NaN       |Tainted (1998)                                                   |
|1635.0   |96    |NaN       |Sweet Nothing (1995)                                             |
|1651.0   |96    |NaN       |Vie est belle, La (Life is Rosey) (1987)                         |
|1487.0   |96    |NaN       |Golden Earrings (1947)                                           |
|1560.0   |96    |NaN       |Farmer & Chase (1995)                                            |
|1639.0   |96    |NaN       |Target (1995)                                                    |
|1571.0   |96    |NaN       |Hana-bi (1997)                                                   |
|1628.0   |96    |NaN       |Silence of the Palace, The (Saimt el Qusur) (1994)               |
|1608.0   |96    |NaN       |Niagara, Niagara (1997)                                          |
|1615.0   |96    |NaN       |Paris Was a Woman (1995)                                         |
|1593.0   |96    |NaN       |Love Is All There Is (1996)                                      |
|1613.0   |96    |NaN       |Office Killer (1997)                                             |
|1397.0   |96    |NaN       |The Innocent (1994)                                              |
|1547.0   |96    |NaN       |Crude Oasis, The (1995)                                          |
|1575.0   |96    |NaN       |Homage (1995)                                                    |
|1518.0   |96    |NaN       |Some Mother's Son (1996)                                         |
|1347.0   |96    |9.859842  |Angel Baby (1995)                                                |
|1411.0   |96    |8.478969  |Boys, Les (1997)                                                 |
|1277.0   |96    |8.346124  |Mina Tannenbaum (1994)                                           |
|1271.0   |96    |7.3861904 |Hollow Reed (1996)                                               |
|884.0    |96    |6.8827066 |Ruby in Paradise (1993)                                          |
|1410.0   |96    |6.837696  |Bitter Sugar (Azucar Amargo) (1996)                              |
|813.0    |96    |6.8214083 |Blues Brothers 2000 (1998)                                       |
|459.0    |96    |6.6691585 |Restoration (1995)                                               |
|1121.0   |96    |6.6156397 |Endless Summer 2, The (1994)                                     |
|770.0    |96    |6.441062  |Fast, Cheap & Out of Control (1997)                              |
|1107.0   |96    |6.387128  |That Old Feeling (1997)                                          |
|346.0    |96    |6.309991  |City of Lost Children, The (1995)                                |
|242.0    |96    |6.259225  |Bound (1996)                                                     |
|954.0    |96    |6.183684  |Blue Angel, The (Blaue Engel, Der) (1930)                        |
|877.0    |96    |6.144337  |Cemetery Man (Dellamorte Dellamore) (1994)                       |
|882.0    |96    |6.125803  |Live Nude Girls (1995)                                           |
|1390.0   |96    |6.1087503 |Perfect Candidate, A (1996)                                      |
|1230.0   |96    |6.105707  |Man of No Importance, A (1994)                                   |
|1005.0   |96    |5.9840035 |Bye Bye, Love (1995)                                             |
|840.0    |96    |5.938725  |Friday (1995)                                                    |
|963.0    |96    |5.938284  |Inspector General, The (1949)                                    |
|1288.0   |96    |5.9160724 |Whole Wide World, The (1996)                                     |
|728.0    |96    |5.914935  |Once Upon a Time in the West (1969)                              |
|558.0    |96    |5.893246  |Bananas (1971)                                                   |
|1136.0   |96    |5.8295503 |Shooting Fish (1997)                                             |
|1212.0   |96    |5.815298  |Denise Calls Up (1995)                                           |
|915.0    |96    |5.809105  |Oscar & Lucinda (1997)                                           |
|380.0    |96    |5.800167  |Richard III (1995)                                               |
|1269.0   |96    |5.7899456 |Gabbeh (1996)                                                    |
|981.0    |96    |5.785143  |Stupids, The (1996)                                              |
|463.0    |96    |5.7750144 |Heavenly Creatures (1994)                                        |
|1262.0   |96    |5.7551494 |Boys (1996)                                                      |
|1083.0   |96    |5.7443814 |Stalingrad (1993)                                                |
|1198.0   |96    |5.7404985 |Pather Panchali (1955)                                           |
|922.0    |96    |5.7233524 |Goofy Movie, A (1995)                                            |
|874.0    |96    |5.7148056 |Microcosmos: Le peuple de l'herbe (1996)                         |
|386.0    |96    |5.711822  |To Die For (1995)                                                |
|1389.0   |96    |5.7061596 |Nil By Mouth (1997)                                              |
|918.0    |96    |5.7000046 |Umbrellas of Cherbourg, The (Parapluies de Cherbourg, Les) (1964)|
|1330.0   |96    |5.6696987 |Scarlet Letter, The (1995)                                       |
|514.0    |96    |5.6398826 |Jean de Florette (1986)                                          |
|819.0    |96    |5.6133976 |Once Upon a Time... When We Were Colored (1995)                  |
|1057.0   |96    |5.611922  |Safe (1995)                                                      |
|1289.0   |96    |5.599759  |World of Apu, The (Apur Sansar) (1959)                           |
|1207.0   |96    |5.5941877 |Aparajito (1956)                                                 |
|959.0    |96    |5.592166  |Hate (Haine, La) (1995)                                          |
|183.0    |96    |5.5788355 |Secrets & Lies (1996)                                            |
|1432.0   |96    |5.5742345 |Joy Luck Club, The (1993)                                        |
|1084.0   |96    |5.5713224 |Star Maker, The (Uomo delle stelle, L') (1995)                   |
|676.0    |96    |5.5585995 |Wild Bunch, The (1969)                                           |
|848.0    |96    |5.552638  |Spice World (1997)                                               |
|433.0    |96    |5.5435233 |Brady Bunch Movie, The (1995)                                    |
|509.0    |96    |5.529969  |Supercop (1992)                                                  |
|1012.0   |96    |5.520061  |Gay Divorcee, The (1934)                                         |
|1241.0   |96    |5.4807315 |Purple Noon (1960)                                               |
|649.0    |96    |5.4758716 |Bottle Rocket (1996)                                             |
|536.0    |96    |5.4730597 |Murder in the First (1995)                                       |
|488.0    |96    |5.471597  |Wallace & Gromit: The Best of Aardman Animation (1996)           |
|454.0    |96    |5.4703207 |Seventh Seal, The (Sjunde inseglet, Det) (1957)                  |
|947.0    |96    |5.467999  |Trust (1990)                                                     |
|1275.0   |96    |5.4617534 |Margaret's Museum (1995)                                         |
|1342.0   |96    |5.4446855 |8 Heads in a Duffel Bag (1997)                                   |
|705.0    |96    |5.4257197 |Paper, The (1994)                                                |
|938.0    |96    |5.4135275 |Gridlock'd (1997)                                                |
|988.0    |96    |5.4017453 |Cabin Boy (1994)                                                 |
|1155.0   |96    |5.3941116 |Horseman on the Roof, The (Hussard sur le toit, Le) (1995)       |
|1004.0   |96    |5.3882484 |Boxing Helena (1993)                                             |
|1034.0   |96    |5.37455   |Palmetto (1998)                                                  |
+---------+------+----------+-----------------------------------------------------------------+
only showing top 100 rows

### Thats it guys
### A simple collaborative filtering based recommender system in PySpark using the ALS method to recommend movies to the users

### Bye